<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/healthai_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/healthai_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthAI"
        tools:targetApi="31">
        <activity
            android:name=".dashboardActivity"
            android:exported="false" />
        <activity
            android:name=".formCompleted"
            android:exported="false" />
        <activity
            android:name=".HealthFormActivity3"
            android:exported="false" />
        <activity
            android:name=".HealthFormActivity2"
            android:exported="false" />
        <activity
            android:name=".HealthFormActivity1"
            android:exported="false" />
        <activity
            android:name=".GPActivity"
            android:exported="false" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".SignedUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity1"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>